{% extends "bot/base.html" %}
{% block title %} Bot list {% endblock %}

{% block content %}

<h3>Choose bot</h3>

<form method="post" action="" id="bots" enctype="multipart/form-data">
  {% csrf_token %}
     <select id="bots_list" class="select_bots"  name="bots" style="width:200px;">
        {% for bot in bots_list %}
           <option value="{{ bot.id }}">{{ bot.username }}</option>
        {% endfor %}
     </select>

<!--   {{ form.as_p }}-->
    <br>
     <br>
  <button class="button_upload" type="submit">confirm this bot</button>
</form>

{% endblock %}
